<!DOCTYPE html>
<html>

<head>
  <title>Visia Spend Chart Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
    <body>
      <nav class="navbar navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/home">Home</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <div class="navbar-nav float-left text-left pr-3">
            {% for x in res %}
              <a class="nav-item nav-link" href="/{{x[0]}}">{{x[0]}} {{x[1]}}%</span></a>
            {% endfor %}

          </div>
        </div>
      </nav>

        <h1>{{ country }}</h1>



        <div class="container-fluid">

          <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Spend Chart</h1>

          <hr class="mt-2 mb-5">

          <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-lg-4 col-6">
                    <img class="img-fluid img-thumbnail" src="{{ pie1 }}" alt="">
                        <div class="caption">
                            <p>Category</p>
                        </div>

            </div>
            <div class="col-lg-3 col-lg-4 col-6">
                    <img class="img-fluid img-thumbnail" src="{{ bar }}" alt="">
                    <div class="caption">
                        <p>Age</p>
                    </div>
            </div>
            <div class="col-lg-3 col-lg-4 col-6">
                    <img class="img-fluid img-thumbnail" src="{{ pie }}" alt="">
                    <div class="caption">
                        <p>Gender</p>
                    </div>

            </div>
          </div>


        </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
