<!DOCTYPE html>
<html>
    <head>
        <title>TLA Query System</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/maxcdn.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/favicon.ico') }}"  />
    </head>
    <body>

    <div id="landing-header">
 		<h1>Welcome to TLA Query System!</h1>
		<a href="/" class="btn btn-lg btn-success">Enter</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
