<!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <form>
            <fieldset>
                <legend>There are <strong>{{ count }}</strong> result(s) based on your search:</legend>
                <ul>
                    {% for x in message %}
                        <li><a href='/{{ x[21] }}'>{{ x[18] }}/{{ x[19] }}/{{ x[20] }} {{ x[1] }} {{ x[2] }}</a></li>
                        <p></p>
                    {% endfor %}
                </ul>
            </fieldset>
        </form>
        {% endblock %}
    </body>
</html>
