<!DOCTYPE html>
<html>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="info">
            {% if warning %}
                <h1>warning</h1>
            {% else %}
                <fieldset>
                    <legend><strong>Speaker Information</strong></legend>
                    {% with messages = get_flashed_messages() %}
                       {% if messages %}
                          <ul>
                             {% for message in messages %}
                             <li><strong>{{ message }}</strong></li>
                             {% endfor %}
                          </ul>
                       {% endif %}
                    {% endwith %}
                    <ul>
                        <li>Name: {{ message[1] }} {{ message[2] }}</li>

                        {% if message[0] %}
                            <li>Email: {{ message[0] }} </li>
                        {% else %}
                            <li>Email: </li>
                        {% endif %}

                        <li>Present Date: {{ message[18] }}/{{ message[19] }}/{{ message[20] }}</li>

                        <li>Institution: {{ message[3] }}</li>
                        <li>Department: {{ message[4] }}</li>


                        <li>Address: {{ message[5] }}, {{ message[6] }}, {{ message[7] }}
                            {% if message[8] %}
                            , {{ message[8] }}
                            {% endif %}
                        </li>

                        {% if message[9] %}
                            <li>Country: {{ message[9] }} </li>
                        {% else %}
                            <li>Country: </li>
                        {% endif %}

                        {% if message[10] %}
                            <li>Office Phone: {{ message[10] }} </li>
                        {% else %}
                            <li>Office Phone: </li>
                        {% endif %}

                        {% if message[11] %}
                            <li>Mobile Phone: {{ message[11] }} </li>
                        {% else %}
                            <li>Mobile Phone: </li>
                        {% endif %}

                        {% if message[12] %}
                            <li>Web Page: {{ message[12] }} </li>
                        {% else %}
                            <li>Web Page: </li>
                        {% endif %}

                        {% if message[14] %}
                            <li>Twitter: {{ message[14] }} </li>
                        {% else %}
                            <li>Twitter: </li>
                        {% endif %}

                        {% if message[15] %}
                            <li>Facebook: {{ message[15] }} </li>
                        {% else %}
                            <li>Facebook: </li>
                        {% endif %}

                        {% if message[13] %}
                            <li>Topic: {{ message[13] }} </li>
                        {% else %}
                            <li>Topic: </li>
                        {% endif %}

                        {% if message[16] %}
                            <li>Requirements: {{ message[16] }} </li>
                        {% else %}
                            <li>Requirements: </li>
                        {% endif %}

                        {% if message[17] %}
                            <li>Special Needs: {{ message[17] }} </li>
                        {% else %}
                            <li>Special Needs: </li>
                        {% endif %}

                    </ul>
                    <a href='delete'>Delete</a>
                    <a href='update'>Update</a>
                </fieldset>


            {% endif %}

        </div>
        {% endblock %}
    </body>
</html>
